[submodule "ros1_ws/src/navi_lidar"]
	path = ros1_ws/src/navi_lidar
	url = https://github.com/exordor/HesaiLidar_ROS_2.0
[submodule "ros1_ws/src/camera"]
	path = ros1_ws/src/camera
	url = https://github.com/exordor/galaxy_camera_ros_driver.git
