[submodule "ros1_ws/src/navi_lidar"]
	path = ros1_ws/src/navi_lidar
	url = https://github.com/exordor/HesaiLidar_ROS_2.0.git
[submodule "ros1_ws/src/imu"]
	path = ros1_ws/src/imu
	url = https://github.com/SBG-Systems/sbg_ros_driver
