[submodule "ros1_ws/src/navi_lidar"]
	path = ros1_ws/src/navi_lidar
	url = https://github.com/exordor/HesaiLidar_ROS_2.0
[submodule "ros1_ws/src/camera"]
	path = ros1_ws/src/camera
	url = https://github.com/exordor/galaxy_camera_ros_driver.git
[submodule "ros1_ws/src/imu"]
	path = ros1_ws/src/imu
	url = https://github.com/exordor/imu_driver.git
[submodule "ros1_ws/src/slam/fast_livo2"]
	path = ros1_ws/src/slam/fast_livo2
	url = https://github.com/exordor/FAST-LIVO2.git
[submodule "ros1_ws/src/slam/vikit"]
	path = ros1_ws/src/slam/vikit
	url = https://github.com/xuankuzcr/rpg_vikit.git
[submodule "ros2_ws/src/navi_lidar"]
	path = ros2_ws/src/navi_lidar
	url = https://github.com/exordor/HesaiLidar_ROS_2.0.git
[submodule "ros2_ws/src/camera"]
	path = ros2_ws/src/camera
	url = https://github.com/exordor/galaxy_camera_ros_driver.git
	branch = ros2-dev
[submodule "gazebo/src"]
	path = gazebo/src
	url = https://github.com/exordor/vrx_tunnel.git
