<launch>
  <!-- Toggles to enable/disable individual sensors -->
  <arg name="bringup_camera" default="true" />
  <arg name="bringup_imu" default="true" />
  <arg name="bringup_lidar" default="true" />

  <arg name="rosbag_config_file" default="$(find ros1_bringup)/../../../config/rosbag/all_sensors.yaml" />
  <arg name="rosbag_topics" default="$(eval ' '.join(load_yaml(arg('rosbag_config_file'))['topics']))" />
  <arg name="rosbag_default_enabled" default="$(eval load_yaml(arg('rosbag_config_file'))['record']['enabled'])" />
  <arg name="rosbag_default_name" default="$(eval load_yaml(arg('rosbag_config_file'))['record']['bag_name'])" />
  <arg name="rosbag_default_output" default="$(eval load_yaml(arg('rosbag_config_file'))['record']['output_dir'])" />
  <arg name="rosbag_timestamp" default="$(eval time.strftime('%Y%m%d_%H%M%S'))" />

  <arg name="record_rosbag" default="$(arg rosbag_default_enabled)" />
  <arg name="rosbag_output" default="$(arg rosbag_default_output)" />
  <arg name="rosbag_name" default="$(arg rosbag_default_name)" />

  <!-- Camera options -->
  <arg name="camera_config_file" default="$(find ros1_bringup)/../../../config/camera/auto.yaml" />
  <arg name="camera_node_name" default="galaxy_camera" />
  <arg name="camera_output" default="screen" />
  <arg name="camera_respawn" default="false" />

  <!-- IMU options -->
  <arg name="imu_config_file" default="$(find ros1_bringup)/../../../config/imu/sbg.yaml" />

  <!-- LiDAR options -->
  <arg name="lidar_config_file" default="$(find ros1_bringup)/../../../config/navi_lidar/qt128.yaml" />

  <group if="$(arg bringup_camera)">
    <include file="$(find ros1_bringup)/launch/camera.launch">
      <arg name="config_file" value="$(arg camera_config_file)" />
      <arg name="node_name" value="$(arg camera_node_name)" />
      <arg name="output" value="$(arg camera_output)" />
      <arg name="respawn" value="$(arg camera_respawn)" />
    </include>
  </group>

  <group if="$(arg bringup_imu)">
    <include file="$(find ros1_bringup)/launch/imu.launch">
      <arg name="config_file" value="$(arg imu_config_file)" />
    </include>
  </group>

  <group if="$(arg bringup_lidar)">
    <include file="$(find ros1_bringup)/launch/navi_lidar.launch">
      <arg name="config_file" value="$(arg lidar_config_file)" />
    </include>
  </group>

  <group if="$(arg record_rosbag)">
    <node pkg="rosbag"
          type="record"
          name="all_sensors_rosbag_record"
          args="-O $(arg rosbag_output)/$(arg rosbag_name)_$(arg rosbag_timestamp) $(arg rosbag_topics)"
          output="screen"
          launch-prefix="bash -c 'mkdir -p $(arg rosbag_output); exec '" />
  </group>
</launch>
